<h1> REVIEWS </h1>

<br>
<br>
<br>
{{#each restaurant.reviews}}
<div>
    <h2> Dish Name: {{name}}</h2>

   
    <p> Price: {{price}} </p>
    <p> Yelp: {{yelpreview}} </p>
    <p> My Rating {{myrating}} </p>
    <p> {{img}} </p>
    <br>
</div>
{{/each}}
<main>
        <h3> Your Explorations: </h3>
        <a href="/explorations"> <button> Explorations </button></a>
        </div>

        <br>


        <br>
        <br>
        </main>