<h1> REVIEWS </h1>

<br>
<br>
<br>

<div>
    <h2> Dish Name: {{reviews.name}}</h2>

    <p> {{reviews.img}} </p>
    <p> Price: {{reviews.price}} </p>
    <p> Yelp: {{reviews.yelpreview}} </p>
    <p> My Rating {{reviews.myrating}} </p>








    <br>

    <form action="/evaluation/{{reviews._id}}?_method=DELETE" method="POST">

        <button type="submit"> Delete Review </button>
    </form>





</div>