<h1> REVIEWS </h1>
<p> FOODIE.JS FILE </p>
<div> <h2> Dish Name: {{reviews.name}}</h2>

  <p> {{reviews.img}} </p>
  <p> Price: {{reviews.price}} </p>
  <p> Yelp:{{reviews.yelpreview}} </p>
  <p> My Rating{{reviews.myrating}} </p>

  
  </div>