<h1> SHOW PAGE FOR RESTUARANT </h1>
<h1> ***** THIS PAGE WILL HAVE THE OPTION TO CREATE/DETELE A NEW DISH REVIEW </h1>


{{#each review}}
<div>
    <h2> <a href="/evaluation/{{_id}}"> {{name}}</a></h2>
</div>



<br>
<br>
<br>{{/each}}

<div>
    <h2> Dish Name: {{review.name}} </h2>

    <p> {{review.img}} </p>
    <p> Price: {{review.price}} </p>
    <p> Yelp: {{reviews.yelpreview}} </p>
    <p> My Rating {{reviews.myrating}} </p>








    <br>

   <button type="submit">  <form action="/evaluation/{{reviews._id}}?_method=DELETE" method="POST">

        Delete Review 
    </form> </button>


<main>

    <a href="/explorations/"> <button> Your Explorations </button></a>
    </div>

    <br>


    <br>
    <br>
</main>


</div>




{{!-- 
<form action="/evaluation/{{explorations._id}}?_method=PATCH" method="POST">
  <div>
    <label for="name"> DISH: </label>
    <input type="text" name="name" value="{{Reviews.name}}">
  </div>

  <div>
    <label for="img"> PUT PICTURE HERE </label>
    <input type="img" name="img" value="{{Reviews.img}}">
  </div>

  <div>
    <label for="price"> PRICE </label>
    <input type="text" name="price" value="{{Reviews.price}}">
  </div>
  <div>
    <label for="yelp"> YELP REVIEW:  </label>
    <input type="text" name="yelpreview" value="{{Reviews.yelpreview}}">
  </div>
  <div>
    <label for="myrating"> MY RATING:  </label>
    <input type="text" name="myrating" value="{{Reviews.myrating}}">
  </div>

  <br>
  <br>

  <button type="submit"> Edit Review </button>
</form>
<br>

<form action="/Reviews/{{Restaurant._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Exploration </button>
</form> --}}