<h1> SHOW RESTAURANT PAGE PROFILE </h1>



Users can view the restuarant information here:

<h3> Your Explorations: </h3>

**********this page should show list the restaurant information ********

<div>
    {{!--
    <h2>
        <a href="/explorations/{{this._id}}"> {{Restaurant}}</a></h2> --}}


    <h2> Restuarant Name: {{restaurant.name}}</h2>

    <p> Location: {{restaurant.location}}</p>
    <p> Contact: {{restaurant.contact}}</p>
    <p> Website: {{restaurant.website}}</p>
    <p> Description: {{restaurant.description}}</p>
    <p> {{restaurant.img}}</p>

</div>



{{log restaurant}}
 {{#each restaurant}}
    {{log restaurant.reviews}}



    {{/each}}

***** CREATE A BUTTON TO GO TO EVALUATION.NEW *********
<main>

    <a href="/evaluation/new"> <button> Post Your Review Here! </button></a>
    </div>
   
    <a href="/explorations/{{restaurant._id}}/evaluation"> <button> Your review </button></a>
    </div>
 <br>


    <br>
    <br>


<form action='/explorations/{{restaurant._id}}?_method=DELETE' method="POST">

<button type="submit">Delete Restaurant</button>

</form>

   </main>